# Analyze and Predicting Car Sales Using Machine Learning

## Import and find info about car sales file

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
file = '/Users/rifqyadiyatma/Downloads/car_prices.xlsx'

df = pd.read_excel(file)

df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [3]:
#Find info about what kind of type in each columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493481 non-null  object
 6   vin           558837 non-null  object
 7   state         558811 non-null  object
 8   condition     547043 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558811 non-null  object
 13  mmr           558825 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558799 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [4]:
#How many unique value in each columns
df.nunique()

year                34
make                96
model              973
trim              1958
body                86
transmission         2
vin             550322
state               38
condition           41
odometer        172280
color               20
interior            17
seller           14261
mmr               1101
sellingprice      1887
saledate          3745
dtype: int64

In [5]:
#Find top 10 most expensive cars
df.sort_values(by = ['sellingprice'], ascending = False).head(10)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
344905,2014,Ford,Escape,Titanium,SUV,automatic,1fmcu9j98eua23833,mo,43.0,27802.0,green,tan,ford-lincoln dealer program,22800.0,230000.0,Wed Feb 25 2015 02:00:00 GMT-0800 (PST)
548169,2011,Ferrari,458 Italia,Base,coupe,automatic,zff67nfa1b0178698,fl,46.0,12116.0,red,black,platinum motor cars,182000.0,183000.0,Wed Jun 17 2015 03:40:00 GMT-0700 (PDT)
446949,2015,Mercedes-Benz,S-Class,S65 AMG,Sedan,automatic,wddug7kb2fa102347,ca,41.0,5277.0,white,white,mercedes-benz usa,170000.0,173000.0,Thu May 21 2015 05:00:00 GMT-0700 (PDT)
545523,2013,Rolls-Royce,Ghost,Base,sedan,automatic,sca664s52dux52152,fl,42.0,7852.0,white,beige,flag/landrover southpointe,178000.0,171500.0,Wed Jun 17 2015 03:05:00 GMT-0700 (PDT)
125095,2012,Rolls-Royce,Ghost,Base,Sedan,automatic,sca664s58cux50727,fl,45.0,14316.0,black,beige,braman motorcars,154000.0,169500.0,Wed Jan 14 2015 01:40:00 GMT-0800 (PST)
557570,2012,Rolls-Royce,Ghost,EWB,sedan,automatic,sca664l50cux65625,ca,36.0,11832.0,white,black,bentley scottsdale,164000.0,169000.0,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
538347,2012,Rolls-Royce,Ghost,Base,sedan,automatic,sca664s59cux50803,ca,44.0,5215.0,white,tan,financial services remarketing (bmw int),166000.0,167000.0,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
146917,2014,BMW,i8,Base,Coupe,automatic,wby2z2c59evx64214,ca,5.0,60.0,white,brown,ferrari of orange county,176000.0,165000.0,Thu Jan 15 2015 04:00:00 GMT-0800 (PST)
283534,2014,BMW,i8,Base,Coupe,automatic,wby2z2c57evx64261,fl,5.0,154.0,white,beige,american bank auto liquidators,170000.0,165000.0,Tue Feb 10 2015 04:00:00 GMT-0800 (PST)
194349,2011,Rolls-Royce,Ghost,Base,Sedan,automatic,sca664s58bux50113,ca,42.0,12912.0,black,black,financial services remarketing (bmw int),166000.0,163000.0,Wed Jan 28 2015 10:00:00 GMT-0800 (PST)

## Data Cleaning

In [6]:
#Check to see if there is missing value
df.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65356
vin                 0
state              26
condition       11794
odometer           94
color             749
interior          749
seller             26
mmr                12
sellingprice       12
saledate           38
dtype: int64

In [7]:
#Drop unnecessary column
df.drop(['trim', 'vin', 'seller', 'interior'], axis = 1, inplace = True)

In [8]:
# Missing value after we drop unused columns
df.isnull().sum()

year                0
make            10301
model           10399
body            13195
transmission    65356
state              26
condition       11794
odometer           94
color             749
mmr                12
sellingprice       12
saledate           38
dtype: int64

### Fill missing values

#### Transmission column

In [9]:
df.value_counts('transmission', dropna = False)

transmission
automatic    475937
NaN           65356
manual        17544
Name: count, dtype: int64

In [12]:
df.value_counts('year')

year
2012    102315
2013     98168
2014     81070
2011     48548
2008     31502
2007     30845
2006     26913
2010     26485
2005     21394
2009     20594
2004     17342
2003     13281
2002      9715
2015      9437
2001      6468
2000      5227
1999      3363
1998      2149
1997      1546
1996       851
1995       711
1994       392
1993       205
1992       132
1991        67
1990        49
1989        20
1988        11
1986        11
1985        10
1987         8
1984         5
1982         2
1983         1
Name: count, dtype: int64

According to this site https://www.autonationmobileservice.com/i/blog/manual-vs-automatic-transmission-shift-know-about/ by 2007, cars with automatic transmission have outsold manual transmission car.

So using this info, we are going to fill missing values in transmission using year column as the condition.

But before we do that, I'm going to drop rows where year is less than 2000 because it's an old car and we are not going to use that

In [13]:
df = df.drop(df[df['year'] < 2000].index)
df.value_counts('year')

year
2012    102315
2013     98168
2014     81070
2011     48548
2008     31502
2007     30845
2006     26913
2010     26485
2005     21394
2009     20594
2004     17342
2003     13281
2002      9715
2015      9437
2001      6468
2000      5227
Name: count, dtype: int64

In [14]:
#See missing value in transmission columns
make_null = df['transmission'].isnull()
make_null

0         False
1         False
2         False
3         False
4         False
          ...
558832     True
558833    False
558834    False
558835    False
558836    False
Name: transmission, Length: 549304, dtype: bool

In [15]:
#Put rows with missing values in new dataframe
df_null = df[make_null]
df_null

,year,make,model,body,transmission,state,condition,odometer,color,mmr,sellingprice,saledate
35,2014,Buick,Verano,Sedan,NaN,ca,2.0,19531.0,gray,15000.0,9200.0,Tue Jan 06 2015 04:00:00 GMT-0800 (PST)
44,2014,Chevrolet,Cruze,Sedan,NaN,ca,NaN,38261.0,white,11450.0,2000.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
89,2014,Chevrolet,Silverado 2500HD,Crew Cab,NaN,ca,36.0,8742.0,white,34000.0,34000.0,Thu Dec 18 2014 11:30:00 GMT-0800 (PST)
112,2014,Chevrolet,Cruze,Sedan,NaN,ca,28.0,40393.0,gray,11450.0,11700.0,Tue Dec 30 2014 15:00:00 GMT-0800 (PST)
281,2013,Hyundai,Sonata Hybrid,Sedan,NaN,ca,48.0,1111.0,silver,15550.0,15800.0,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...
558814,2014,Dodge,Charger,Sedan,NaN,va,43.0,20485.0,white,16350.0,16100.0,Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558820,2014,Dodge,Charger,Sedan,NaN,va,42.0,22744.0,white,16250.0,15900.0,Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558829,2012,Hyundai,Elantra,Sedan,NaN,pa,4.0,66720.0,gray,10250.0,10400.0,Wed Jul 08 2015 07:30:00 GMT-0700 (PDT)
558830,2012,Nissan,Sentra,Sedan,NaN,tn,26.0,35858.0,white,9950.0,10400.0,Wed Jul 08 2015 17:15:00 GMT-0700 (PDT)
558832,2015,Kia,K900,Sedan,NaN,in,45.0,18255.0,silver,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)

now we we are going to fill missing value in transmission column

In [16]:
#Fill missing value using this data frame
df_null

,year,make,model,body,transmission,state,condition,odometer,color,mmr,sellingprice,saledate
35,2014,Buick,Verano,Sedan,NaN,ca,2.0,19531.0,gray,15000.0,9200.0,Tue Jan 06 2015 04:00:00 GMT-0800 (PST)
44,2014,Chevrolet,Cruze,Sedan,NaN,ca,NaN,38261.0,white,11450.0,2000.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
89,2014,Chevrolet,Silverado 2500HD,Crew Cab,NaN,ca,36.0,8742.0,white,34000.0,34000.0,Thu Dec 18 2014 11:30:00 GMT-0800 (PST)
112,2014,Chevrolet,Cruze,Sedan,NaN,ca,28.0,40393.0,gray,11450.0,11700.0,Tue Dec 30 2014 15:00:00 GMT-0800 (PST)
281,2013,Hyundai,Sonata Hybrid,Sedan,NaN,ca,48.0,1111.0,silver,15550.0,15800.0,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...
558814,2014,Dodge,Charger,Sedan,NaN,va,43.0,20485.0,white,16350.0,16100.0,Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558820,2014,Dodge,Charger,Sedan,NaN,va,42.0,22744.0,white,16250.0,15900.0,Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558829,2012,Hyundai,Elantra,Sedan,NaN,pa,4.0,66720.0,gray,10250.0,10400.0,Wed Jul 08 2015 07:30:00 GMT-0700 (PDT)
558830,2012,Nissan,Sentra,Sedan,NaN,tn,26.0,35858.0,white,9950.0,10400.0,Wed Jul 08 2015 17:15:00 GMT-0700 (PDT)
558832,2015,Kia,K900,Sedan,NaN,in,45.0,18255.0,silver,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)

In [17]:
#Using for loop to iterate through dataframe
for row in df_null.index:
    #Condition if the row with year value greater than or equal to 2007
    if df_null.loc[row, 'year'] >= 2007:
        df_null.loc[row, 'transmission'] = 'automatic'
    #Condition if year value is less than 2007
    else:
        df_null.loc[row, 'transmission'] = 'manual'

In [18]:
df_null

,year,make,model,body,transmission,state,condition,odometer,color,mmr,sellingprice,saledate
35,2014,Buick,Verano,Sedan,automatic,ca,2.0,19531.0,gray,15000.0,9200.0,Tue Jan 06 2015 04:00:00 GMT-0800 (PST)
44,2014,Chevrolet,Cruze,Sedan,automatic,ca,NaN,38261.0,white,11450.0,2000.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
89,2014,Chevrolet,Silverado 2500HD,Crew Cab,automatic,ca,36.0,8742.0,white,34000.0,34000.0,Thu Dec 18 2014 11:30:00 GMT-0800 (PST)
112,2014,Chevrolet,Cruze,Sedan,automatic,ca,28.0,40393.0,gray,11450.0,11700.0,Tue Dec 30 2014 15:00:00 GMT-0800 (PST)
281,2013,Hyundai,Sonata Hybrid,Sedan,automatic,ca,48.0,1111.0,silver,15550.0,15800.0,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...
558814,2014,Dodge,Charger,Sedan,automatic,va,43.0,20485.0,white,16350.0,16100.0,Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558820,2014,Dodge,Charger,Sedan,automatic,va,42.0,22744.0,white,16250.0,15900.0,Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558829,2012,Hyundai,Elantra,Sedan,automatic,pa,4.0,66720.0,gray,10250.0,10400.0,Wed Jul 08 2015 07:30:00 GMT-0700 (PDT)
558830,2012,Nissan,Sentra,Sedan,automatic,tn,26.0,35858.0,white,9950.0,10400.0,Wed Jul 08 2015 17:15:00 GMT-0700 (PDT)
558832,2015,Kia,K900,Sedan,automatic,in,45.0,18255.0,silver,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)

Now that we have done filling missing values in transmission, we import it to our main dataframe

In [19]:
df['transmission'] = df['transmission'].fillna(df_null['transmission'])

In [20]:
df.isnull().sum()

year                0
make             9259
model            9357
body            11767
transmission        0
state              26
condition       10975
odometer           84
color             731
mmr                12
sellingprice       12
saledate           38
dtype: int64

We have sucessfully filling missing value in our main dataframe

#### selling price

In [21]:
#Find average selling price
average_price = df['sellingprice'].mean()
#limir average price to two decimal
average_price = round(average_price, 2)
average_price

13825.48

In [22]:
#Assign it to missing value in selling price

df['sellingprice'] = df['sellingprice'].fillna(average_price)

In [23]:
df.isnull().sum()

year                0
make             9259
model            9357
body            11767
transmission        0
state              26
condition       10975
odometer           84
color             731
mmr                12
sellingprice        0
saledate           38
dtype: int64

#### condition

Same as selling price, we are going to use average for condition columns

In [24]:
mean_condition = round(df['condition'].mean())
mean_condition = float(mean_condition)

In [25]:
df['condition'] = df['condition'].fillna(mean_condition)

In [26]:
df.isnull().sum()

year                0
make             9259
model            9357
body            11767
transmission        0
state              26
condition           0
odometer           84
color             731
mmr                12
sellingprice        0
saledate           38
dtype: int64

#### state

To fill missing value in state column, we use mode() function to find mode value in state columns.

In [27]:
mode_state = df['state'].mode()
mode_state

0    fl
Name: state, dtype: object

Now we know in this file, the majority sales happened in fl. So we assign it to all missing value

In [28]:
df['state'] = df['state'].fillna(mode_state[0])

In [29]:
df.isnull().sum()

year                0
make             9259
model            9357
body            11767
transmission        0
state               0
condition           0
odometer           84
color             731
mmr                12
sellingprice        0
saledate           38
dtype: int64

#### mmr or market price

Same as selling price and condition, we use average value of market price

In [30]:
avg_mmr = round(df['mmr'].mean())
avg_mmr = float(avg_mmr)

In [31]:
df['mmr'] = df['mmr'].fillna(avg_mmr)

In [32]:
df.isnull().sum()

year                0
make             9259
model            9357
body            11767
transmission        0
state               0
condition           0
odometer           84
color             731
mmr                 0
sellingprice        0
saledate           38
dtype: int64

In [33]:
df.head()

,year,make,model,body,transmission,state,condition,odometer,color,mmr,sellingprice,saledate
0,2015,Kia,Sorento,SUV,automatic,ca,5.0,16639.0,white,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,SUV,automatic,ca,5.0,9393.0,white,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,Sedan,automatic,ca,45.0,1331.0,gray,31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,Sedan,automatic,ca,41.0,14282.0,white,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,Sedan,automatic,ca,43.0,2641.0,gray,66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

#### Color

Same as state, we are going to use mode() to fill missing values in color column

In [45]:
#Find mode in color column
color_mode = df['color'].mode()
color_mode

0    black
Name: color, dtype: object

Majority of car's color is black, so we assign it to missing values in color column

In [44]:
df['color'] = df['color'].fillna(color_mode[0])

df.isnull().sum()

year                0
make             9259
model            9357
body            11767
transmission        0
state               0
condition           0
odometer           84
color               0
mmr                 0
sellingprice        0
saledate           38
dtype: int64

#### odometer

For this column, we are going to fill missing value with the average of odometer.

In [48]:
#Find average value for odometer column

odo_avg = round(df['odometer'].mean())
odo_avg = float(odo_avg)
odo_avg

66671.0

In [49]:
#Assign it to all missing values in odometer

df['odometer'] = df['odometer'].fillna(odo_avg)
df.isnull().sum()

year                0
make             9259
model            9357
body            11767
transmission        0
state               0
condition           0
odometer            0
color               0
mmr                 0
sellingprice        0
saledate           38
dtype: int64

### Fix data that's not in correct format

#### Make Column

In [34]:
df.value_counts('make')

make
Ford          92509
Chevrolet     59595
Nissan        53467
Toyota        38664
Dodge         30573
              ...
hyundai tk        1
mazda tk          1
chev truck        1
Lotus             1
airstream         1
Name: count, Length: 92, dtype: int64

The result above shows that there are same manufacturer but got divided because some of them are capitalize and some of them are not.

So we need to change it all

In [35]:
# Change all value in make columns to only the first letter is capitalized
df['make'] = df['make'].str.capitalize()

In [36]:
# Change vw to volkswagen
df['make'] = df['make'].replace('Vw', 'Volkswagen')

In [37]:
df.value_counts('make')

make
Ford          92852
Chevrolet     59908
Nissan        53525
Toyota        38741
Dodge         30770
              ...
Chev truck        1
Lotus             1
Hyundai tk        1
Ford tk           1
Mazda tk          1
Name: count, Length: 61, dtype: int64

In [38]:
# Fix typo name
for row in df.index:
    match df.loc[row, 'make']:
        case 'Hyundai tk':
            df.loc[row, 'make'] = 'Hyundai'
        case 'Mazda tk':
            df.loc[row, 'make'] = 'Mazda'
        case 'Mercedes-b':
            df.loc[row, 'make'] = 'Mercedes-benz'

In [39]:
#Forgot about ford tk
for row in df.index:
    match df.loc[row, 'make']:
        case 'Ford tk':
            df.loc[row, 'make'] = 'Ford'

In [40]:
df.value_counts('make')

make
Ford             92853
Chevrolet        59908
Nissan           53525
Toyota           38741
Dodge            30770
Honda            26255
Hyundai          21836
Bmw              20506
Kia              18078
Chrysler         17379
Mercedes-benz    16821
Jeep             15290
Infiniti         15237
Volkswagen       12484
Lexus            11566
Gmc              10556
Mazda             8399
Cadillac          7406
Audi              5829
Acura             5774
Lincoln           5640
Subaru            5030
Buick             4880
Ram               4574
Pontiac           4344
Mitsubishi        4200
Volvo             3656
Mini              3224
Saturn            2677
Land rover        1844
Mercury           1821
Scion             1687
Jaguar            1385
Porsche           1377
Suzuki            1071
Fiat               865
Hummer             805
Saab               462
Smart              396
Oldsmobile         273
Isuzu              155
Maserati           136
Bentley            116
Mercedes            64
Landrover           27
Aston martin        25
Tesla               23
Ferrari             19
Rolls-royce         17
Plymouth            10
Gmc truck           10
Fisker               9
Lamborghini          4
Daewoo               3
Chev truck           1
Airstream            1
Lotus                1
Name: count, dtype: int64

### Drop rows with missing value

In [51]:
#Delete missing value in rows
df.dropna(axis = 0, inplace = True)

In [54]:
df.isnull().sum()

year            0
make            0
model           0
body            0
transmission    0
state           0
condition       0
odometer        0
color           0
mmr             0
sellingprice    0
saledate        0
dtype: int64

We have finished dealing with missing value in our dataset. Next task is data visualization

In [55]:
df.head(10)

,year,make,model,body,transmission,state,condition,odometer,color,mmr,sellingprice,saledate
0,2015,Kia,Sorento,SUV,automatic,ca,5.0,16639.0,white,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,SUV,automatic,ca,5.0,9393.0,white,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,Bmw,3 Series,Sedan,automatic,ca,45.0,1331.0,gray,31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,Sedan,automatic,ca,41.0,14282.0,white,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,Bmw,6 Series Gran Coupe,Sedan,automatic,ca,43.0,2641.0,gray,66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
5,2015,Nissan,Altima,Sedan,automatic,ca,1.0,5554.0,gray,15350.0,10900.0,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
6,2014,Bmw,M5,Sedan,automatic,ca,34.0,14943.0,black,69000.0,65000.0,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
7,2014,Chevrolet,Cruze,Sedan,automatic,ca,2.0,28617.0,black,11900.0,9800.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
8,2014,Audi,A4,Sedan,automatic,ca,42.0,9557.0,white,32100.0,32250.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
9,2014,Chevrolet,Camaro,Convertible,automatic,ca,3.0,4809.0,red,26300.0,17500.0,Tue Jan 20 2015 04:00:00 GMT-0800 (PST)

### Split saledate column

In [56]:
#Create new dataframe to avoid error in main dataframe
df_test = df.copy()
df_test.head(10)

,year,make,model,body,transmission,state,condition,odometer,color,mmr,sellingprice,saledate
0,2015,Kia,Sorento,SUV,automatic,ca,5.0,16639.0,white,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,SUV,automatic,ca,5.0,9393.0,white,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,Bmw,3 Series,Sedan,automatic,ca,45.0,1331.0,gray,31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,Sedan,automatic,ca,41.0,14282.0,white,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,Bmw,6 Series Gran Coupe,Sedan,automatic,ca,43.0,2641.0,gray,66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
5,2015,Nissan,Altima,Sedan,automatic,ca,1.0,5554.0,gray,15350.0,10900.0,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
6,2014,Bmw,M5,Sedan,automatic,ca,34.0,14943.0,black,69000.0,65000.0,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
7,2014,Chevrolet,Cruze,Sedan,automatic,ca,2.0,28617.0,black,11900.0,9800.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
8,2014,Audi,A4,Sedan,automatic,ca,42.0,9557.0,white,32100.0,32250.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
9,2014,Chevrolet,Camaro,Convertible,automatic,ca,3.0,4809.0,red,26300.0,17500.0,Tue Jan 20 2015 04:00:00 GMT-0800 (PST)

Because there is no comma in saledate, so we need to split it by space or ' '.
Split it into 4 new columns

In [58]:
#Create new columns and assign it with splitted saledate column
df_test[['Day', 'Month', 'date', 'Year', 'time']] = df['saledate'].str.split(' ', n = 4, expand = True)
df_test.head()

,year,make,model,body,transmission,state,condition,odometer,color,mmr,sellingprice,saledate,Day,Month,date,Year,time
0,2015,Kia,Sorento,SUV,automatic,ca,5.0,16639.0,white,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),Tue,Dec,16,2014,12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,SUV,automatic,ca,5.0,9393.0,white,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),Tue,Dec,16,2014,12:30:00 GMT-0800 (PST)
2,2014,Bmw,3 Series,Sedan,automatic,ca,45.0,1331.0,gray,31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST),Thu,Jan,15,2015,04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,Sedan,automatic,ca,41.0,14282.0,white,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST),Thu,Jan,29,2015,04:30:00 GMT-0800 (PST)
4,2014,Bmw,6 Series Gran Coupe,Sedan,automatic,ca,43.0,2641.0,gray,66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST),Thu,Dec,18,2014,12:30:00 GMT-0800 (PST)

In [74]:
#Concate or merge Day, month, date, and year columns to new Saledate column
df_test['Saledate'] = df_test['Day'] + ', ' + df_test['Month'] + ' ' + df_test['date'].astype(str) + ' ' + df_test['year'].astype(str)

In [75]:
df_test.head()

,year,make,model,body,transmission,state,condition,odometer,color,mmr,sellingprice,Day,Month,date,SaleYear,time,Saledate
0,2015,Kia,Sorento,SUV,automatic,ca,5.0,16639.0,white,20500.0,21500.0,Tue,Dec,16,2014,12:30:00 GMT-0800 (PST),"Tue, Dec 16 2015"
1,2015,Kia,Sorento,SUV,automatic,ca,5.0,9393.0,white,20800.0,21500.0,Tue,Dec,16,2014,12:30:00 GMT-0800 (PST),"Tue, Dec 16 2015"
2,2014,Bmw,3 Series,Sedan,automatic,ca,45.0,1331.0,gray,31900.0,30000.0,Thu,Jan,15,2015,04:30:00 GMT-0800 (PST),"Thu, Jan 15 2014"
3,2015,Volvo,S60,Sedan,automatic,ca,41.0,14282.0,white,27500.0,27750.0,Thu,Jan,29,2015,04:30:00 GMT-0800 (PST),"Thu, Jan 29 2015"
4,2014,Bmw,6 Series Gran Coupe,Sedan,automatic,ca,43.0,2641.0,gray,66000.0,67000.0,Thu,Dec,18,2014,12:30:00 GMT-0800 (PST),"Thu, Dec 18 2014"

In [68]:
#Drop the old saledate column
df_test.drop(columns = 'saledate', inplace = True)

In [69]:
df_test

,year,make,model,body,transmission,state,condition,odometer,color,mmr,sellingprice,Day,Month,date,Year,time,Saledate
0,2015,Kia,Sorento,SUV,automatic,ca,5.0,16639.0,white,20500.0,21500.0,Tue,Dec,16,2014,12:30:00 GMT-0800 (PST),"Dec, 16 2015"
1,2015,Kia,Sorento,SUV,automatic,ca,5.0,9393.0,white,20800.0,21500.0,Tue,Dec,16,2014,12:30:00 GMT-0800 (PST),"Dec, 16 2015"
2,2014,Bmw,3 Series,Sedan,automatic,ca,45.0,1331.0,gray,31900.0,30000.0,Thu,Jan,15,2015,04:30:00 GMT-0800 (PST),"Jan, 15 2014"
3,2015,Volvo,S60,Sedan,automatic,ca,41.0,14282.0,white,27500.0,27750.0,Thu,Jan,29,2015,04:30:00 GMT-0800 (PST),"Jan, 29 2015"
4,2014,Bmw,6 Series Gran Coupe,Sedan,automatic,ca,43.0,2641.0,gray,66000.0,67000.0,Thu,Dec,18,2014,12:30:00 GMT-0800 (PST),"Dec, 18 2014"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Sedan,automatic,in,45.0,18255.0,silver,35300.0,33000.0,Thu,Jul,09,2015,07:00:00 GMT-0700 (PDT),"Jul, 09 2015"
558833,2012,Ram,2500,Crew Cab,automatic,wa,5.0,54393.0,white,30200.0,30800.0,Wed,Jul,08,2015,09:30:00 GMT-0700 (PDT),"Jul, 08 2012"
558834,2012,Bmw,X5,SUV,automatic,ca,48.0,50561.0,black,29800.0,34000.0,Wed,Jul,08,2015,09:30:00 GMT-0700 (PDT),"Jul, 08 2012"
558835,2015,Nissan,Altima,sedan,automatic,ga,38.0,16658.0,white,15100.0,11100.0,Thu,Jul,09,2015,06:45:00 GMT-0700 (PDT),"Jul, 09 2015"
558836,2014,Ford,F-150,SuperCrew,automatic,ca,34.0,15008.0,gray,29600.0,26700.0,Thu,May,28,2015,05:30:00 GMT-0700 (PDT),"May, 28 2014"

In [71]:
#Change Year name column
df_test.rename(columns = {'Year': 'SaleYear'}, inplace = True)
df_test.head()

,year,make,model,body,transmission,state,condition,odometer,color,mmr,sellingprice,Day,Month,date,SaleYear,time,Saledate
0,2015,Kia,Sorento,SUV,automatic,ca,5.0,16639.0,white,20500.0,21500.0,Tue,Dec,16,2014,12:30:00 GMT-0800 (PST),"Dec, 16 2015"
1,2015,Kia,Sorento,SUV,automatic,ca,5.0,9393.0,white,20800.0,21500.0,Tue,Dec,16,2014,12:30:00 GMT-0800 (PST),"Dec, 16 2015"
2,2014,Bmw,3 Series,Sedan,automatic,ca,45.0,1331.0,gray,31900.0,30000.0,Thu,Jan,15,2015,04:30:00 GMT-0800 (PST),"Jan, 15 2014"
3,2015,Volvo,S60,Sedan,automatic,ca,41.0,14282.0,white,27500.0,27750.0,Thu,Jan,29,2015,04:30:00 GMT-0800 (PST),"Jan, 29 2015"
4,2014,Bmw,6 Series Gran Coupe,Sedan,automatic,ca,43.0,2641.0,gray,66000.0,67000.0,Thu,Dec,18,2014,12:30:00 GMT-0800 (PST),"Dec, 18 2014"

In [76]:
#Drop Day, date, and time columns because we do not need them
df_test.drop(columns = ['Day', 'date', 'time'], inplace = True)
df_test.head()

,year,make,model,body,transmission,state,condition,odometer,color,mmr,sellingprice,Month,SaleYear,Saledate
0,2015,Kia,Sorento,SUV,automatic,ca,5.0,16639.0,white,20500.0,21500.0,Dec,2014,"Tue, Dec 16 2015"
1,2015,Kia,Sorento,SUV,automatic,ca,5.0,9393.0,white,20800.0,21500.0,Dec,2014,"Tue, Dec 16 2015"
2,2014,Bmw,3 Series,Sedan,automatic,ca,45.0,1331.0,gray,31900.0,30000.0,Jan,2015,"Thu, Jan 15 2014"
3,2015,Volvo,S60,Sedan,automatic,ca,41.0,14282.0,white,27500.0,27750.0,Jan,2015,"Thu, Jan 29 2015"
4,2014,Bmw,6 Series Gran Coupe,Sedan,automatic,ca,43.0,2641.0,gray,66000.0,67000.0,Dec,2014,"Thu, Dec 18 2014"